results/
*.o
*.so
*.dylib
*.dll
*.bc
tmp/
regression.diffs
regression.out
/pg_clickhouse-*
.vscode/
_build/
/release-notes.md
/src/fdw.c
/sql/*--*.sql
!/sql/*--*--*.sql
compile_commands.json
.envrc
.env
.cache/
log/
